<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Bubble_Debug>
            <version>1.0.1</version>
        </Bubble_Debug>
    </modules>
    <global>
        <models>
            <bubble_debug>
                <class>Bubble_Debug_Model</class>
            </bubble_debug>
        </models>
        <events>
            <controller_front_send_response_before>
                <observers>
                    <bubble_debug>
                        <type>singleton</type>
                        <class>bubble_debug/observer</class>
                        <method>onSendResponseBefore</method>
                    </bubble_debug>
                </observers>
            </controller_front_send_response_before>
            <core_block_abstract_to_html_before>
                <observers>
                    <bubble_debug>
                        <type>singleton</type>
                        <class>bubble_debug/observer</class>
                        <method>onBlockToHtmlBefore</method>
                    </bubble_debug>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <bubble_debug>
                        <type>singleton</type>
                        <class>bubble_debug/observer</class>
                        <method>onBlockToHtmlAfter</method>
                    </bubble_debug>
                </observers>
            </core_block_abstract_to_html_after>
            <bubble_debug_sql_query_before>
                <observers>
                    <bubble_debug>
                        <type>singleton</type>
                        <class>bubble_debug/observer</class>
                        <method>onSqlQueryBefore</method>
                    </bubble_debug>
                </observers>
            </bubble_debug_sql_query_before>
        </events>
    </global>
</config>